.login-register-form {
  width: 300px;
  padding: 20px;
  background-color: #cccccc;
  opacity: 0.5;
  .header-item {
    display: flex;
    margin-bottom: 20px;
    div {
      border-bottom: 1px solid blue;
      width: 120px;
      text-align: center;
      padding: 10px;
    }
    .login-item {
      margin-right: 60px;
    }
  }
}
