.content-form {
  border: 1px solid #cccccc;
  padding: 10px;
  :global {
    .ant-form-item {
      margin-bottom: 12px;
    }
    .ant-form-item-control {
      margin-left: 20px !important;
    }
    .ant-btn-primary {
      width: 200px;
    }
  }
  .captcha {
    position: relative;
    .captcha-img {
      position: absolute;
      width: 70px;
      height: 100%;
      right: 0;
    }
  }
}
